# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Linux
*~

# Jetbrains IDEs
.idea
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/
.history/

# Yarn
node_modules/
.yarn/
.yarnrc.yml
*.log

# Compiled project files
dist/
*.tsbuildinfo

# Local test files
/dev-env/
