# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Linux
*~

# Jetbrains IDEs
.idea
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/
.history/

# Dependencies
node_modules/

# Compiled project files
dist/
