name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          # Cache is broken until we can enable Corepack directly in setup-node
          # instead of having to wait to enable it manually later.
          # See https://github.com/actions/setup-node/issues/531.
          # cache: 'yarn'
          # Automatic cache detection is broken for the same reason, must be
          # disabled explicitly.
          package-manager-cache: false

      - name: Execute build
        run: |
          corepack enable
          yarn config set nodeLinker node-modules
          yarn plugin import workspace-tools
          yarn install --immutable
          yarn format-check
          yarn check
          yarn test
          yarn package

      - name: Build Docker image
        working-directory: ./docker
        run: |
          docker build \
            --tag "gatlingcorp/enterprise-runner:latest" \
            .
